.container {
  height: 40vh;
  width: 600px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10%;
}
